.custom-gradient {
    background: linear-gradient(90deg, rgba(71, 59, 240, 1) 0%, rgba(112, 54, 204, 1) 54%, rgba(233, 42, 98, 1) 100%);
}

.custom-gradient:hover {
    background: #12141d;
}

.review-summary-wrap .pros-and-cons .cons-list li {
    position: relative;
    margin-left: 30px;
}

.review-summary-wrap .pros-and-cons .cons-list li:before {
    width: 20px;
    height: 20px;
    background: #fb2c36;
    mask-image: url('/images/face-frown.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
}

.review-summary-wrap .pros-and-cons .pros-list li {
    position: relative;
    margin-left: 30px;
}

.review-summary-wrap .pros-and-cons .pros-list li:before {
    width: 20px;
    height: 20px;
    background: #00c951;
    mask-image: url('/images/face-smile.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
}

.review-summary-wrap .tip-container .tip-text::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fbbf24;
    mask-image: url('/images/bulb.svg');
    /* Path to your image */
    mask-size: cover;
    mask-repeat: no-repeat;
    margin-right: 10px;
    /* Adjust spacing as needed */
    position: relative;
    top: 5px;
}

/* custom-scrollbar css start  */
/* width */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f2f3f5;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E2E5EA;
}

/* custom-scrollbar css end  */

.bg-gradient-yellow{
    background-image: radial-gradient(56.8% 50% at 50% 50%, #ffeccc 0%, hsla(0, 0%, 100%, 0) 100%);
}
.bg-gradient-pink{
    background-image: radial-gradient(45.8% 50%, #ffccec 0, #fff0 100%);
}


.marquee-column {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.marquee-content {
    display: flex;
    flex-direction: column;
    animation-timing-function: linear;
    
}

.marquee-column-1 .marquee-content {
   animation: marquee-vertical-1 25s linear infinite;
}

.marquee-column-2 .marquee-content {
    animation: marquee-vertical-2 20s linear infinite;
}

.marquee-column-3 .marquee-content {
    animation: marquee-vertical-3 30s linear infinite;
}

@keyframes marquee-vertical-1 {
   from { transform: translateY(0); }
   to { transform: translateY(-100%); }
}

@keyframes marquee-vertical-2 {
   from { transform: translateY(0); }
   to { transform: translateY(-100%); }
}

@keyframes marquee-vertical-3 {
   from { transform: translateY(0); }
   to { transform: translateY(-100%); }
}

.animate-slide {
    display: inline-block;
    animation: slide-down 5s infinite;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .bg-custum-gradient-background {
    background: linear-gradient(45deg, #fff, oklch(1 0 0) 50%, #fff) padding-box, conic-gradient(from var(--border-angle), color-mix(in oklab, oklch(1 0 0) 0%, transparent) 80%, oklch(.55 .27 312.37) 86%, oklch(.67 .24 1.43) 88%, oklch(.58 .23 25.81) 94%, color-mix(in oklab, oklch(.84 .2 81.02) 90%, transparent), oklch(.84 .2 81.02) 98%, transparent) border-box;
    }
    
    .animate-border {
    animation: border 4s linear infinite
    }
    
    @keyframes border {
    to {
    --border-angle: 360deg
    }
    }
    
    @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
    }

  
  /* Animation 2: Zoom In and Fade */
.popup-zoom-in-container {
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .popup-zoom-in-active {
    transform: scale(1);
    opacity: 1;
  }

  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
  }        

  .comparison-grid {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column */
}

@media (min-width: 768px) { /* Tablet and up */
    .comparison-grid {
        grid-template-columns: repeat(1, 1fr); /* 2 columns */
    }
}

@media (min-width: 1024px) { /* Laptop and up */
    .comparison-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

@media (min-width: 1280px) { /* Large screen and up */
    .comparison-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}